@model MyFirstMVC.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shirts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shirts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
